<h1>Listing precios_temporals</h1>

<table>
  <thead>
    <tr>
      <th>Sku</th>
      <th>Precio</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @precios_temporals.each do |precios_temporal| %>
      <tr>
        <td><%= precios_temporal.SKU %></td>
        <td><%= precios_temporal.precio %></td>
        <td><%= link_to 'Show', precios_temporal %></td>
        <td><%= link_to 'Edit', edit_precios_temporal_path(precios_temporal) %></td>
        <td><%= link_to 'Destroy', precios_temporal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Precios temporal', new_precios_temporal_path %>
