- model_class = Store
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:used_space)
      %th= model_class.human_attribute_name(:total_space)
      %th= model_class.human_attribute_name(:reception)
      %th= model_class.human_attribute_name(:dispatch)
      %th= model_class.human_attribute_name(:lung)
      %th
  %tbody
    - @stores.each do |store|
      %tr
        %td= store['_id']
        / link_to store['_id'], controller: "stock_management", action: "get_skuswithstock", :almacen_id store['_id']
        %td= store['usedSpace']
        %td= store['totalSpace']
        %td= store['recepcion']
        %td= store['despacho']
        %td= store['pulmon']
        %td= link_to 'Ver Almacén', 'almacenes/' +store["_id"].to_s, class: 'btn btn-primary', disabled: 'disabled' 
