- model_class = Store
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize
  %table.table.table-striped
    %thead
      %tr
        %th= model_class.human_attribute_name(:SKU)
        %th= model_class.human_attribute_name(:total)
        %th
    %tbody
      - @stores.each do |store|
        %tr
          %td= store['_id']
          / link_to store['_id'], controller: "stock_management", action: "get_skuswithstock", :almacen_id store['_id']
          %td= store['total']
          %td= link_to 'Ver SKU', 'almacenes/' +store["_id"].to_s, class: 'btn btn-primary', disabled: 'disabled' 


