<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @store.id %>
</p>

<p>
  <strong>Used space:</strong>
  <%= @store.used_space %>
</p>

<p>
  <strong>Total space:</strong>
  <%= @store.total_space %>
</p>

<p>
  <strong>Reception:</strong>
  <%= @store.reception %>
</p>

<p>
  <strong>Dispatch:</strong>
  <%= @store.dispatch %>
</p>

<p>
  <strong>Lung:</strong>
  <%= @store.lung %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
