= form_for @quiebre do |f|
  - if @quiebre.errors.any?
    #error_explanation
      %h2= "#{pluralize(@quiebre.errors.count, "error")} prohibited this quiebre from being saved:"
      %ul
        - @quiebre.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :pedido
    = f.number_field :pedido
  .field
    = f.label :nombrecliente
    = f.text_field :nombrecliente
  .field
    = f.label :fechaquiebre
    = f.datetime_select :fechaquiebre
  .actions
    = f.submit 'Save'
