_= form_for @quiebre, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :pedido, :class => 'control-label'
    .controls
      = f.text_field :pedido, :class => 'text_field'
  .control-group
    = f.label :nombrecliente, :class => 'control-label'
    .controls
      = f.text_field :nombrecliente, :class => 'text_field'
  .control-group
    = f.label :fechaquiebre, :class => 'control-label'
    .controls
      = f.text_field :fechaquiebre, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), quiebres_path, :class => 'btn'
