- model_class = Quiebre
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:pedido)
      %th= model_class.human_attribute_name(:nombrecliente)
      %th= model_class.human_attribute_name(:fechaquiebre)
      %th= model_class.human_attribute_name(:created_at)
      %th Dinero Perdido

  %tbody
    - @quiebres.each do |quiebre|
      %tr
        %td= link_to quiebre.id, quiebre_path(quiebre)
        %td= quiebre.pedido
        %td= quiebre.nombrecliente
        %td= quiebre.fechaquiebre
        %td= quiebre.created_at
        %td= quiebre.dineroperdido
#reporte-chart{data:{text:"Historial Quiebres",data0:"#{@array}", serie0name:"Quiebres"}}



