- model_class = SentItemsPedido
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:sku)
      %th= model_class.human_attribute_name(:cantidad)
      %th= model_class.human_attribute_name(:precio)
      %th= model_class.human_attribute_name(:direccion)
      %th= model_class.human_attribute_name(:pedidoid)
      %th= model_class.human_attribute_name(:respuesta)
      %th= model_class.human_attribute_name(:created_at)
      %th VentaTotal 
  %tbody
    - @sent_items_pedidos.each do |sent_items_pedido|
      %tr
        %td= link_to sent_items_pedido.id, sent_items_pedido_path(sent_items_pedido)
        %td= sent_items_pedido.sku
        %td= sent_items_pedido.cantidad
        %td= sent_items_pedido.precio
        %td= sent_items_pedido.direccion
        %td= sent_items_pedido.pedidoid
        %td= sent_items_pedido.respuesta
        %td= sent_items_pedido.created_at
        %td
