<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @productos_json.SKU %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @productos_json.Marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @productos_json.Modelo %>
</p>

<p>
  <strong>Precionormal:</strong>
  <%= @productos_json.PrecioNormal %>
</p>

<p>
  <strong>Preciointernet:</strong>
  <%= @productos_json.PrecioInternet %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @productos_json.Descripcion %>
</p>

<p>
  <strong>Imagen:</strong>
  <%= @productos_json.Imagen %>
</p>

<p>
  <strong>Categoria1:</strong>
  <%= @productos_json.Categoria1 %>
</p>

<p>
  <strong>Categoria2:</strong>
  <%= @productos_json.Categoria2 %>
</p>

<p>
  <strong>Categoria3:</strong>
  <%= @productos_json.Categoria3 %>
</p>

<p>
  <strong>Categoria4:</strong>
  <%= @productos_json.Categoria4 %>
</p>

<p>
  <strong>Categoria5:</strong>
  <%= @productos_json.Categoria5 %>
</p>

<p>
  <strong>Categoria6:</strong>
  <%= @productos_json.Categoria6 %>
</p>

<p>
  <strong>Categoria7:</strong>
  <%= @productos_json.Categoria7 %>
</p>

<p>
  <strong>Categoria8:</strong>
  <%= @productos_json.Categoria8 %>
</p>

<%= link_to 'Edit', edit_productos_json_path(@productos_json) %> |
<%= link_to 'Back', productos_jsons_path %>
