= form_for @pruebanat do |f|
  - if @pruebanat.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pruebanat.errors.count, "error")} prohibited this pruebanat from being saved:"
      %ul
        - @pruebanat.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
