<p id="notice"><%= notice %></p>

<p>
  <strong>Sku:</strong>
  <%= @product.sku %>
</p>

<p>
  <strong>Store:</strong>
  <%= @product.store_id %>
</p>

<p>
  <strong>Costs:</strong>
  <%= @product.costs %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
